
rotsynth.cache/wt/project.wpc
rotsynth.xpr
rotsynth.hw/rotsynth.lpr
rotsynth.cache/wt/gui_handlers.wdf
rotsynth.cache/wt/java_command_handlers.wdf
rotsynth.cache/wt/webtalk_pa.xml
submissions/
rotsynth.cache/wt/synthesis.wdf
rotsynth.cache/wt/synthesis_details.wdf
rotsynth.cache/wt/xsim.wdf
rotsynth.hw/hw_1/hw.xml
rotsynth.ip_user_files/README.txt
rotsynth.runs/.jobs/vrs_config_1.xml
rotsynth.runs/.jobs/vrs_config_2.xml
rotsynth.runs/.jobs/vrs_config_3.xml
rotsynth.runs/.jobs/vrs_config_4.xml
rotsynth.runs/.jobs/vrs_config_5.xml
rotsynth.runs/.jobs/vrs_config_6.xml
rotsynth.runs/impl_1/.init_design.begin.rst
rotsynth.runs/impl_1/.init_design.end.rst
rotsynth.runs/impl_1/.opt_design.begin.rst
rotsynth.runs/impl_1/.opt_design.end.rst
rotsynth.runs/impl_1/.phys_opt_design.begin.rst
rotsynth.runs/impl_1/.phys_opt_design.end.rst
rotsynth.runs/impl_1/.place_design.begin.rst
rotsynth.runs/impl_1/.place_design.end.rst
rotsynth.runs/impl_1/.route_design.begin.rst
rotsynth.runs/impl_1/.route_design.end.rst
rotsynth.runs/impl_1/.vivado.begin.rst
rotsynth.runs/impl_1/.vivado.end.rst
rotsynth.runs/impl_1/.Vivado_Implementation.queue.rst
rotsynth.runs/impl_1/.write_bitstream.begin.rst
rotsynth.runs/impl_1/.write_bitstream.end.rst
rotsynth.runs/impl_1/gen_run.xml
rotsynth.runs/impl_1/htr.txt
rotsynth.runs/impl_1/init_design.pb
rotsynth.runs/impl_1/ISEWrap.js
rotsynth.runs/impl_1/ISEWrap.sh
rotsynth.runs/impl_1/opt_design.pb
rotsynth.runs/impl_1/phys_opt_design.pb
rotsynth.runs/impl_1/place_design.pb
rotsynth.runs/impl_1/project.wdf
rotsynth.runs/impl_1/route_design.pb
rotsynth.runs/impl_1/rundef.js
rotsynth.runs/impl_1/runme.bat
rotsynth.runs/impl_1/runme.log
rotsynth.runs/impl_1/runme.sh
rotsynth.runs/impl_1/top.tcl
rotsynth.runs/impl_1/top.vdi
rotsynth.runs/impl_1/top_bus_skew_routed.pb
rotsynth.runs/impl_1/top_bus_skew_routed.rpt
rotsynth.runs/impl_1/top_bus_skew_routed.rpx
rotsynth.runs/impl_1/top_clock_utilization_routed.rpt
rotsynth.runs/impl_1/top_control_sets_placed.rpt
rotsynth.runs/impl_1/top_drc_opted.pb
rotsynth.runs/impl_1/top_drc_opted.rpt
rotsynth.runs/impl_1/top_drc_opted.rpx
rotsynth.runs/impl_1/top_drc_routed.pb
rotsynth.runs/impl_1/top_drc_routed.rpt
rotsynth.runs/impl_1/top_drc_routed.rpx
rotsynth.runs/impl_1/top_io_placed.rpt
rotsynth.runs/impl_1/top_methodology_drc_routed.pb
rotsynth.runs/impl_1/top_methodology_drc_routed.rpt
rotsynth.runs/impl_1/top_methodology_drc_routed.rpx
rotsynth.runs/impl_1/top_opt.dcp
rotsynth.runs/impl_1/top_physopt.dcp
rotsynth.runs/impl_1/top_placed.dcp
rotsynth.runs/impl_1/top_power_routed.rpt
rotsynth.runs/impl_1/top_power_routed.rpx
rotsynth.runs/impl_1/top_power_summary_routed.pb
rotsynth.runs/impl_1/top_route_status.pb
rotsynth.runs/impl_1/top_route_status.rpt
rotsynth.runs/impl_1/top_routed.dcp
rotsynth.runs/impl_1/top_timing_summary_routed.pb
rotsynth.runs/impl_1/top_timing_summary_routed.rpt
rotsynth.runs/impl_1/top_timing_summary_routed.rpx
rotsynth.runs/impl_1/top_utilization_placed.pb
rotsynth.runs/impl_1/top_utilization_placed.rpt
rotsynth.runs/impl_1/usage_statistics_webtalk.html
rotsynth.runs/impl_1/usage_statistics_webtalk.xml
rotsynth.runs/impl_1/vivado.jou
rotsynth.runs/impl_1/vivado.pb
rotsynth.runs/impl_1/write_bitstream.pb
rotsynth.runs/synth_1/.vivado.begin.rst
rotsynth.runs/synth_1/.vivado.end.rst
rotsynth.runs/synth_1/.Vivado_Synthesis.queue.rst
rotsynth.runs/synth_1/.Xil/top_propImpl.xdc
rotsynth.runs/synth_1/__synthesis_is_complete__
rotsynth.runs/synth_1/gen_run.xml
rotsynth.runs/synth_1/htr.txt
rotsynth.runs/synth_1/ISEWrap.js
rotsynth.runs/synth_1/ISEWrap.sh
rotsynth.runs/synth_1/rundef.js
rotsynth.runs/synth_1/runme.bat
rotsynth.runs/synth_1/runme.log
rotsynth.runs/synth_1/runme.sh
rotsynth.runs/synth_1/top.dcp
rotsynth.runs/synth_1/top.tcl
rotsynth.runs/synth_1/top.vds
rotsynth.runs/synth_1/top_utilization_synth.pb
rotsynth.runs/synth_1/top_utilization_synth.rpt
rotsynth.runs/synth_1/vivado.jou
rotsynth.runs/synth_1/vivado.pb
rotsynth.sim/top_sim/behav/xsim/compile.bat
rotsynth.sim/top_sim/behav/xsim/compile.log
rotsynth.sim/top_sim/behav/xsim/elaborate.bat
rotsynth.sim/top_sim/behav/xsim/elaborate.log
rotsynth.sim/top_sim/behav/xsim/glbl.v
rotsynth.sim/top_sim/behav/xsim/simulate.bat
rotsynth.sim/top_sim/behav/xsim/simulate.log
rotsynth.sim/top_sim/behav/xsim/top_sim.tcl
rotsynth.sim/top_sim/behav/xsim/top_sim_behav.wdb
rotsynth.sim/top_sim/behav/xsim/top_sim_vlog.prj
rotsynth.sim/top_sim/behav/xsim/webtalk.jou
rotsynth.sim/top_sim/behav/xsim/webtalk.log
rotsynth.sim/top_sim/behav/xsim/webtalk_4704.backup.jou
rotsynth.sim/top_sim/behav/xsim/webtalk_4704.backup.log
rotsynth.sim/top_sim/behav/xsim/xelab.pb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/Compile_Options.txt
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/obj/xsim_0.win64.obj
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/obj/xsim_1.c
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/obj/xsim_1.win64.obj
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/TempBreakPointFile.txt
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/webtalk/.xsim_webtallk.info
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/webtalk/usage_statistics_ext_xsim.html
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/webtalk/usage_statistics_ext_xsim.wdm
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/webtalk/usage_statistics_ext_xsim.xml
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/webtalk/xsim_webtalk.tcl
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.dbg
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.mem
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.reloc
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.rlx
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.rtti
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.svtype
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.type
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsim.xdbg
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsimcrash.log
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsimk.exe
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsimkernel.log
rotsynth.sim/top_sim/behav/xsim/xsim.dir/top_sim_behav/xsimSettings.ini
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/bcd_decoder.sdb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/debounced_button.sdb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/glbl.sdb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/ssdriver.sdb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/top.sdb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/top_sim.sdb
rotsynth.sim/top_sim/behav/xsim/xsim.dir/xil_defaultlib/xil_defaultlib.rlx
rotsynth.sim/top_sim/behav/xsim/xsim.ini
rotsynth.sim/top_sim/behav/xsim/xvlog.log
rotsynth.sim/top_sim/behav/xsim/xvlog.pb
rotsynth.runs/.jobs/vrs_config_7.xml
rotsynth.runs/.jobs/vrs_config_8.xml
rotsynth.runs/.jobs/vrs_config_9.xml
rotsynth.runs/.jobs/vrs_config_10.xml
rotsynth.runs/.jobs/vrs_config_11.xml
rotsynth.runs/.jobs/vrs_config_12.xml
rotsynth.runs/synth_1/.vivado.error.rst
rotsynth.runs/synth_1/__synthesis_is_running__
